*{
    box-sizing: border-box;
    font-family: Comfortaa;
}

/*main body style*/
body{
    height: 100vh;
    background-color: rgb(212, 222, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*wrapper*/
.wrapper{
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 7px;
}

/*email header*/
.email-header{
    text-align: center;
}
.email-header span{
    margin: 7px 0px ;
    color: gray ;
    font-size: 50px;
}

/*verify account btn*/
.verify-account-btn{
    padding: 15px;
    background-color: rgb(0, 109, 252);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

/*copy right wrapper*/
.copy-right{
    padding: 20px;
    color: gray;
    font-size: 14px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center ;
}